body {
    padding-top: 30px;
    background-color: #f6f6f6; 
    font-family: 'Roboto', sans-serif;

}

  
  html {
    color: #111;
    font-size: 0.85em;
    line-height: 1.8em; }
  
  a {
    color:pink;
    text-decoration: none;
    transition: 0.7s; }
    font-family: 'Roboto', sans-serif;
  }
  
  a:hover {
    opacity: 0.7; }
  
  .card-content i {
    color: #a0a0a0; }
  
  .card-title i {
    margin-right: 15px; }
  
  .card-minimus {
    color: #666;
    font-size: 14px;
    font-weight: 300; 
}
  
  .row-title {
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
}
  
  .row-col .col {
    margin-bottom: 30px; }
  
  .skills {
    margin-top: 14px; }
  
  .chip {
    background-color: pink;
    font-size: 12.5px;
    font-weight: 700;
    margin-bottom: 3px;
    margin-right: 3px; }
  
  .chip-job {
    color: rgba(0, 0, 0, 0.6);
    font-size: 1em;
    background:pink;
    filter: alpha(opacity=60);
    -moz-opacity: 0.60;
    opacity: 0.6; }
  
  .card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    margin: 0 12px;
    color: pink;
    opacity: 0.7;
    transition: 0.7s; }
  
  .card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover {
    color: pink;
    opacity: 0.3; }
  
  .row ul:not(.browser-default) {
    padding-left: 1em; }
  
  .row ul:not(.browser-default) > li {
    list-style-type: square;
    font-size: 15px;
 }
  
  .row-credits {
    color: #999; }

p   {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}
 
strong {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: rgb(71, 70, 71);
}

.span {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}